body{
    background-color: beige;
    color: rgb(43, 13, 13);
    font-family: 'Actor';
}
label{
    min-width: 110px;
    font-weight: bold;
}
input{
    border-radius: 3%;
    text-transform: uppercase;
    font-family: 'Actor';
}
h1{
    text-indent: 2%;
}
h2{
    text-indent: 4%;
    font-size: 2vw;
}
h3{
    text-indent: 4%;
}
p{
    font-size: 1vw;
    width: 75vw;
    margin-left: 12.5%;
}
#currency-form{
    background-color: white;
    border: rgb(43, 13, 13) 5px solid;
    color: rgb(43, 13, 13);
    width: 60vw;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding: 25px;
    border-radius: 3%;
}
#submit-button{
    background-color: rgb(43, 13, 13);
    color: white;
    border-radius: 2%;
    text-transform: none;
    font-family: 'Actor';
}
#message{
    background-color: rgb(141, 245, 159);
    border: rgb(1, 66, 1) 5px solid;
    color: rgb(43, 13, 13);
    border-radius: 3%;
    font-size: 2vw;
    width: 40%;
    text-align: center;
    margin-left: 4%;
    font-family: 'Actor';
    padding: 8px;
}
#return-home{
    background-color: rgb(43, 13, 13);
    color: white;
    border-radius: 2%;
    width: 10vw;
    margin: 20px;
    padding: 5px;
    text-transform: none;
    font-family: 'Actor';
}